﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
    width:90%;
    height: 600px;
    margin:0% 7% 0%;
    padding:0%;
    background:#E6E6E6;
}
    

#header {
    width: 100%;
    height: 15%;
    background:#000;
    

}
#header img {
        position:absolute;
       left:10%;
        margin-top:1.3%;
       
    }
    
#header h4 {
        position:relative;
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        float:left;
        line-height:100%;
        left:25%;
        margin-top:2.5%;
    }

#menu {
    position: relative;
    margin-top:.5%;
  
    width:100%;
}
    
#menu ul li {
        display: inline;
        list-style: none;
        text-decoration: none;
       
        font-weight:bold;
        font-size:18px;
        background: transparent;
        cursor:pointer;
        color: #373333;
         width:200px;
         height:50px;
        
         padding:.5% 1%;
        
    }

#menu ul li:hover {
    background: #000;
    border-radius: 10px;
    color:#fff;
   
}
  
  