﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="smvdu_admin._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
 
<head runat="server">
 
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Shri Mata Vaishno Devi University</title>
    <!-- adding css file -->
    <link href="css/home.css" rel="stylesheet" />
    <!-- end adding css file -->
    <!-- external jquery -->
    <script src="jquery/jquery-1.7.2.min.js"></script>

    <!-- end jquery -->
</head>
<body>
   <div id="container">
       <div id="header">
           <header>
               <a href="http://smvdu.net.in/"><img src="images/smvdu_logo.png" /></a>
              <a href="http://smvdu.net.in/"> <h4> Shri Mata Vaishno Devi University Katra,J&K</h4></a>
           </header>
           </div>
           <div id="menu">
               <ul>
                   <li>
                       Home
                     </li>
                   <li>
                      Edit
                     
                   </li>
                   <li>
                         View
                   </li>
                   <li>
                       Contact us
                   </li>
               </ul>
           </div>
      
   </div>
</body>
</html>
